*{
    box-sizing: border-box;
    margin: 0;
}

#top{
    background-image: url(../img/pattern.png);
    background-color: rgb(78, 160, 255);
    height: 165px;
    background-repeat: repeat;
    background-position-y: 5%;
    background-position-x: 10%;
    position: relative;
}

#logo{
    width: 19%;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

h1{
    font-size: 70px;
}

.blue{
    color: rgb(134, 208, 241);
}

.small{
    font-size: smaller;
}

main{
    margin-left: 5px;
    font-size: 20px;
}

#bigger-image{
    width: 50%;
}

#smaller-image{
    height: 632.656px;
}

.yellow{
    background-color: yellow;
}

p,ul,table{
    margin-top: 16px;
}

table{
   width: 100%;
   text-align: left;
   border-collapse: collapse; 
}

.big-column{
    width: 50%;
}

thead{
    color: white;
    background-color: rgb(32, 169, 229);
}

.blue-back{
    background-color: rgb(177, 229, 242);
}

aside{
    margin-left: 5px;
    font-size: 20px;
    margin-top: 40px;
}

h2{
    font-size: 1em;
    color: grey;
    margin-top: 16px;
}

#first-img{
    background-image: url(../img/monitor.jpg);
}

#second-img{
    background-image: url(../img/graph.jpg);
}

div{
    height: 207px;
    background-repeat: no-repeat;
    margin-top: 16px;
    color: white;
    font-weight: bold;
    padding: 10px;
}